<h3>Blogs</h3>

<ul>
  {{#each model.tree as |blog|}}
    <li> {{blog.title}} </li>
    {{#if blog.children }}   
    <ul>
      {{#each blog.children as |child|}}
      <li> {{child.title}}</li>
      {{#if child.children}}
      <ul>
        {{#each child.children as |subChild|}}
          <li>{{subChild.title}}</li>
          {{/each}}
        </ul>
        {{/if}}
      {{/each}}
      </ul>
    {{/if}}
    {{/each}}
  </ul>

  <ul>
    {{#each blogs as |blog|}}
    <li {{action "doRead" blog}}>{{blog.title}} 
      {{#if blog.detail}}
      <p>{{blog.body}}</p>
      {{/if}}
    </li>
    {{/each}}
  </ul>

  {{input type="text" value=postTitle}}
  {{input type="text" value=postBody}}
  <button {{action "doPost"}}>Do Post</button>

  {{#each showList as |model|}}
    <p>{{model.title}} | {{model.body}}</p>
  {{/each}}
  
  <p>{{postTitleBody}}</p>
  {{input type="texk" value=postAuthor}}

  <button {{action "queryPart"}}>query</button>
  <button {{action "updatePost"}}>update</button>
